<h1>Welcome to HackDay!</h1>
<%= link_to "Hack Ideas", "https://github.com/CTres/hackday/projects/1" %>
<%= link_to "hackday repository", "https://github.com/CTres/hackday" %>
<%= link_to "Create Hackathon", new_hackathon_path() %>
<%= render @hackathons %>
